In [9]:
import numpy as np
import pandas as pd
import yfinance as yf

## Read in and clean TikTok data

In [10]:
df = pd.read_csv("loungewear.csv")

# Add a column for diggs-to-plays ratio
df['diggCount/playCount'] = df['diggCount'] / df['playCount']

# Keep only the following columns; delete all other columns
df = df[['createTimeISO','diggCount', 'playCount', 'diggCount/playCount', 'shareCount', 'commentCount', 'videoMeta/duration']]

# df['means'] = df[['diggCount', 'shareCount', 'playCount', 'commentCount', 'videoMeta/duration']].mean(axis=1)

# Sort by time
df = df.sort_values(by='createTimeISO')

df

,createTimeISO,diggCount,playCount,diggCount/playCount,shareCount,commentCount,videoMeta/duration
59,2021-04-11T21:57:13.000Z,15,1327,0.011304,1,6,15
31,2021-05-02T22:58:49.000Z,74,5641,0.013118,1,2,20
227,2021-09-20T19:12:55.000Z,241800,1500000,0.161200,717,666,22
105,2022-05-04T22:42:17.000Z,1,126,0.007937,0,0,44
179,2022-05-20T16:18:00.000Z,602,113700,0.005295,6,14,32
...,...,...,...,...,...,...,...
255,2024-11-23T15:27:17.000Z,0,237,0.000000,0,1,10
69,2024-11-23T15:47:13.000Z,4,236,0.016949,0,0,9
64,2024-11-23T15:54:49.000Z,1,77,0.012987,0,0,24
65,2024-11-23T15:55:46.000Z,4,114,0.035088,0,1,33
119,2024-11-23T15:58:44.000Z,4,40,0.100000,2,0,70

## Get and clean stock data

In [11]:
# Get prices of specified stock for each day
ticker = "VSCO"
data = yf.Ticker(ticker)
prices = data.history(start = '2019-10-01', end = '2024-11-16') # can change time interval; prices is a dataframe
prices

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-07-21 00:00:00-04:00,55.000000,55.000000,39.994999,42.500000,96100,0.0,0.0
2021-07-22 00:00:00-04:00,42.750000,42.750000,39.790001,40.900002,401200,0.0,0.0
2021-07-23 00:00:00-04:00,41.980000,42.200001,40.990002,42.139999,114400,0.0,0.0
2021-07-26 00:00:00-04:00,40.200001,41.500000,40.060001,41.200001,22000,0.0,0.0
2021-07-27 00:00:00-04:00,41.500000,41.520000,41.099998,41.435001,83000,0.0,0.0
...,...,...,...,...,...,...,...
2024-11-11 00:00:00-05:00,35.580002,35.652000,33.849998,34.970001,2243300,0.0,0.0
2024-11-12 00:00:00-05:00,35.500000,37.616001,34.980000,35.779999,2327200,0.0,0.0
2024-11-13 00:00:00-05:00,36.130001,36.660000,35.599998,35.939999,1655600,0.0,0.0
2024-11-14 00:00:00-05:00,35.840000,36.875000,35.720001,36.040001,1269400,0.0,0.0
2024-11-15 00:00:00-05:00,35.889999,36.834999,35.349998,36.680000,1476600,0.0,0.0

## Merging data

In [12]:
# Get y-m-d date of TikTok dataframe
df['createTimeISO'] = pd.to_datetime(df['createTimeISO'])
df['date'] = df['createTimeISO'].dt.strftime('%Y-%m-%d')

# Create cleaned_df with select columns of TikTok data
cleaned_df = df[['date', 'diggCount', 'playCount', 'diggCount/playCount']]

# Create aggregated_df, aggregating the metadata for videos made on the same day.
# Ex:
# date                  diggCount
# 2019-11-01            200
# 2019-11-01            150
# will become:
# date                  diggCount
# 2019-11-01            350
aggregated_df = cleaned_df.groupby('date', as_index = False)[['diggCount', 'playCount', 'diggCount/playCount']].sum()

aggregated_df

# Reset indices of `prices`, dropping old indices. Keep only the date in the `Date` column of the prices dataframe
prices.reset_index(inplace=True)


# print(cleaned_df.head(5))
# print(prices.head(5))

# print("cleaned_df dtypes: \n" + cleaned_df.dtypes)
# print("prices dtypes: \n" + prices.dtypes)


# Merge `cleaned_df` and `prices`, based on dates (use inner merge - only include data that is common to both dataframes)
merged_df = pd.merge(
    aggregated_df,
    prices[['Date', 'Close']],
    left_on = pd.to_datetime(aggregated_df['date']).dt.date,
    right_on = pd.to_datetime(prices['Date']).dt.date,
    how = 'inner'
    )

# Only keep relevant columns (use closing prices of stock for now)
merged_df = merged_df[['date', 'diggCount', 'playCount', 'diggCount/playCount', 'Close']]

# Calculate percentage change in diggCount/playCount 
merged_df['change'] = merged_df['diggCount/playCount'].pct_change()

merged_df

,date,diggCount,playCount,diggCount/playCount,Close,change
0,2021-09-20,241800,1500000,0.161200,60.330002,NaN
1,2022-05-04,1,126,0.007937,50.740002,-0.950766
2,2022-05-20,602,113700,0.005295,43.330002,-0.332876
3,2022-10-19,581,79900,0.007272,36.209999,0.373388
4,2022-11-01,1924,150900,0.012750,38.799999,0.753422
...,...,...,...,...,...,...
107,2024-11-11,141837,1570033,0.287078,34.970001,2.074406
108,2024-11-12,3071,92512,0.107938,35.779999,-0.624011
109,2024-11-13,294,31400,0.009363,35.939999,-0.913255
110,2024-11-14,92,1697,0.054213,36.040001,4.790130
111,2024-11-15,3015,32700,0.092202,36.680000,0.700723

## Strategy (daily)

In [13]:
class Strategy:
    def __init__(self, data, balance = 1000000):
        self.data = data
        self.balance = balance
        self.shares = 0
        self.transactions = 0

    # Helper function that gets bid/ask price
    def get_price(self, date):
        row = self.data[self.data['date'] == date]
        if not row.empty:
            return row['Close'].values[0]
        else:
            return None
            

    # Buy as many shares as possible with remaining balance
    def buy(self, date):
        if self.balance > 0:
            bid = self.get_price(date)
            self.shares = self.balance / bid 
            print(f"Bought {self.shares} shares at {bid} \n Balance: {self.balance}    Shares: {self.shares}")
            self.balance = 0
            self.transactions += 1
        else:
            print("Balance too low to buy") 

    # Sell as many shares as possible given ask pricce
    def sell(self, date):
        if self.shares > 0:
            ask = self.get_price(date)
            self.balance += self.shares * ask
            print(f"Sold {self.shares} shares at {ask} \n Balance: {self.balance}    Shares: {self.shares}")
            self.shares = 0
            self.transactions += 1
        else:
            print("No shares to sell") 
            
    # Compare change 
    def run(self):
        print(f"Starting balance: {self.balance}")
        print(f"Starting shares: {self.shares}")
        print(f"Number of transactions: {self.transactions} \n")
        
        # Iterate through each row in `data` and print the date, followed by the action taken (buy/sell) and the results
        for i in range(1, len(self.data)): 
            # Print date
            print(self.data['date'].iloc[i], end = ": ")

            # If the change in diggCount/playCount is larger than 5 (arbitrarily set)
            if self.data['change'].iloc[i] > 2.5:
                self.buy(self.data['date'].iloc[i])
            else:
                self.sell(self.data['date'].iloc[i])
            
        print(f"\nEnding balance: {self.balance}")
        print(f"Ending shares: {self.shares}")
        print(f"Number of transactions: {self.transactions}")

## Run strategy

In [14]:
strategy = Strategy(merged_df, balance = 1000000)
strategy.run()

Starting balance: 1000000
Starting shares: 0
Number of transactions: 0

2022-05-04: No shares to sell
2022-05-20: No shares to sell
2022-10-19: No shares to sell
2022-11-01: No shares to sell
2022-12-29: No shares to sell
2023-03-13: Bought 32446.46365677725 shares at 30.81999969482422
 Balance: 1000000    Shares: 32446.46365677725
2023-03-24: Sold 32446.46365677725 shares at 31.850000381469727
 Balance: 1033419.8798456991    Shares: 32446.46365677725
2023-03-30: No shares to sell
2023-04-11: Bought 30385.766858194645 shares at 34.0099983215332
 Balance: 1033419.8798456991    Shares: 30385.766858194645
2023-04-17: Sold 30385.766858194645 shares at 33.13999938964844
 Balance: 1006984.2951345702    Shares: 30385.766858194645
2023-06-13: No shares to sell
2023-07-07: No shares to sell
2023-08-07: No shares to sell
2023-08-14: No shares to sell
2023-08-29: No shares to sell
2023-09-12: No shares to sell
2023-10-10: No shares to sell
2023-10-11: Bought 67447.03781321955 shares at 14.930000305175781
 Balance: 1006984.2951345702    Shares: 67447.03781321955
2023-10-26: Sold 67447.03781321955 shares at 18.6200008392334
 Balance: 1255863.9006859548    Shares: 67447.03781321955
2023-11-01: No shares to sell
2023-11-07: No shares to sell
2023-11-10: No shares to sell
2023-11-16: No shares to sell
2023-11-17: No shares to sell
2023-11-22: Bought 59604.36254749705 shares at 21.06999969482422
 Balance: 1255863.9006859548    Shares: 59604.36254749705
2023-12-11: Sold 59604.36254749705 shares at 26.360000610351562
 Balance: 1571171.033131638    Shares: 59604.36254749705
2023-12-12: No shares to sell
2023-12-15: No shares to sell
2023-12-29: Bought 59200.11224311667 shares at 26.540000915527344
 Balance: 1571171.033131638    Shares: 59200.11224311667
2024-01-02: Sold 59200.11224311667 shares at 27.1200008392334
 Balance: 1605507.0937160356    Shares: 59200.11224311667
2024-01-05: No shares to sell
2024-01-08: No shares to sell
2024-01-25: Bought 65237.994875982266 shares at 24.610000610351562
 Balance: 1605507.0937160356    Shares: 65237.994875982266
2024-01-26: Sold 65237.994875982266 shares at 25.959999084472656
 Balance: 1693578.2872533314    Shares: 65237.994875982266
2024-01-29: No shares to sell
2024-02-05: No shares to sell
2024-02-07: No shares to sell
2024-02-23: No shares to sell
2024-03-05: No shares to sell
2024-03-18: No shares to sell
2024-03-26: No shares to sell
2024-04-02: No shares to sell
2024-04-11: No shares to sell
2024-04-12: Bought 94455.0060472923 shares at 17.93000030517578
 Balance: 1693578.2872533314    Shares: 94455.0060472923
2024-04-17: Sold 94455.0060472923 shares at 16.75
 Balance: 1582121.3512921461    Shares: 94455.0060472923
2024-05-16: No shares to sell
2024-05-17: No shares to sell
2024-05-20: No shares to sell
2024-05-29: Bought 75339.11196629268 shares at 21.0
 Balance: 1582121.3512921461    Shares: 75339.11196629268
2024-06-07: Sold 75339.11196629268 shares at 20.170000076293945
 Balance: 1519589.8941080414    Shares: 75339.11196629268
2024-06-11: No shares to sell
2024-06-25: No shares to sell
2024-06-26: No shares to sell
2024-07-02: No shares to sell
2024-07-03: No shares to sell
2024-07-16: Bought 81566.82568768898 shares at 18.6299991607666
 Balance: 1519589.8941080414    Shares: 81566.82568768898
2024-07-17: Sold 81566.82568768898 shares at 19.049999237060547
 Balance: 1553847.9671199257    Shares: 81566.82568768898
2024-07-24: No shares to sell
2024-07-26: No shares to sell
2024-07-29: Bought 85990.4810936435 shares at 18.06999969482422
 Balance: 1553847.9671199257    Shares: 85990.4810936435
2024-08-05: Sold 85990.4810936435 shares at 17.079999923706055
 Balance: 1468717.410518878    Shares: 85990.4810936435
2024-08-14: No shares to sell
2024-08-15: No shares to sell
2024-08-19: No shares to sell
2024-08-20: No shares to sell
2024-08-21: No shares to sell
2024-08-22: No shares to sell
2024-08-27: No shares to sell
2024-08-29: No shares to sell
2024-09-04: No shares to sell
2024-09-05: Bought 61736.753005346465 shares at 23.790000915527344
 Balance: 1468717.410518878    Shares: 61736.753005346465
2024-09-06: Sold 61736.753005346465 shares at 24.040000915527344
 Balance: 1484151.5987702145    Shares: 61736.753005346465
2024-09-09: No shares to sell
2024-09-10: No shares to sell
2024-09-18: No shares to sell
2024-09-19: Bought 57104.7176544997 shares at 25.989999771118164
 Balance: 1484151.5987702145    Shares: 57104.7176544997
2024-09-20: Sold 57104.7176544997 shares at 25.59000015258789
 Balance: 1461309.7334921358    Shares: 57104.7176544997
2024-09-23: No shares to sell
2024-09-24: No shares to sell
2024-09-25: Bought 56508.49570773732 shares at 25.860000610351562
 Balance: 1461309.7334921358    Shares: 56508.49570773732
2024-09-26: Sold 56508.49570773732 shares at 25.799999237060547
 Balance: 1457919.146147062    Shares: 56508.49570773732
2024-09-27: No shares to sell
2024-10-01: No shares to sell
2024-10-02: No shares to sell
2024-10-03: Bought 60544.81523115718 shares at 24.079999923706055
 Balance: 1457919.146147062    Shares: 60544.81523115718
2024-10-04: Balance too low to buy
2024-10-08: Sold 60544.81523115718 shares at 24.520000457763672
 Balance: 1484558.897183191    Shares: 60544.81523115718
2024-10-09: No shares to sell
2024-10-11: Bought 56988.82689682209 shares at 26.049999237060547
 Balance: 1484558.897183191    Shares: 56988.82689682209
2024-10-14: Sold 56988.82689682209 shares at 26.440000534057617
 Balance: 1506784.613587293    Shares: 56988.82689682209
2024-10-15: No shares to sell
2024-10-16: Bought 53469.9999031066 shares at 28.18000030517578
 Balance: 1506784.613587293    Shares: 53469.9999031066
2024-10-17: Sold 53469.9999031066 shares at 27.6299991607666
 Balance: 1477376.0524490257    Shares: 53469.9999031066
2024-10-18: No shares to sell
2024-10-22: No shares to sell
2024-10-23: Bought 50681.85494966103 shares at 29.149999618530273
 Balance: 1477376.0524490257    Shares: 50681.85494966103
2024-10-24: Sold 50681.85494966103 shares at 28.59000015258789
 Balance: 1448994.2407442462    Shares: 50681.85494966103
2024-10-25: No shares to sell
2024-10-28: No shares to sell
2024-10-29: No shares to sell
2024-10-30: No shares to sell
2024-10-31: No shares to sell
2024-11-05: Bought 44777.3242711476 shares at 32.36000061035156
 Balance: 1448994.2407442462    Shares: 44777.3242711476
2024-11-06: Sold 44777.3242711476 shares at 33.119998931884766
 Balance: 1483024.9320330662    Shares: 44777.3242711476
2024-11-07: No shares to sell
2024-11-08: No shares to sell
2024-11-11: No shares to sell
2024-11-12: No shares to sell
2024-11-13: No shares to sell
2024-11-14: Bought 41149.41438289823 shares at 36.040000915527344
 Balance: 1483024.9320330662    Shares: 41149.41438289823
2024-11-15: Sold 41149.41438289823 shares at 36.68000030517578
 Balance: 1509360.5321225116    Shares: 41149.41438289823

Ending balance: 1509360.5321225116
Ending shares: 0
Number of transactions: 38

## Notes
problems: scraper is weird, percent change calculation is off bc we don't have data every day (jumps multiple days), etc
modifications: set different thresholds for when to buy/sell, set diff amounts for buying/selling, transaction fee (?), buying non-whole shares